{% extends "base.html.twig" %}

{% block title %}{{ 'form.networkconfig.title'|trans({}, 'networkconfig') }} - {{ parent() }}{% endblock %}

{% block boton_new %}
    <ul class="new_entry list-unstyled">
        <li>
            <a class="btn btn-info" href="{{ path('networkconfig_new') }}">
                <i class="fa fa-plus"></i> {{ 'action.new.submit'|trans({}, 'global') }}
            </a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <h1>{{ 'form.networkconfig.index.title'|trans({}, 'networkconfig') }}</h1>
    {{ block ('boton_new') }}
    {{ nodes|replace({'HTTP/1.0 200 OK': '', 'Cache-Control: no-cache': '' })|raw}}
    {{ block ('boton_new') }}
{% endblock %}