{% extends "base.html.twig" %}

{% block title %}{{ 'form.networkconfig.title'|trans({}, 'networkconfig') }} - {{ parent() }}{% endblock %}

{% block body %}

    <h1>{{ 'form.networkconfig.new.title'|trans({}, 'networkconfig') }}</h1>



    {{ form_start(form, {action: path('nconfig_new')}) }}

        <div class="btn-group record_actions">
            <a class="btn btn-info" href="{{ path('nconfig') }}">
                <i class="fa fa-list"></i> {{ 'action.goToDescriptor'|trans({}, 'global') }}
            </a>
            <button class="btn btn-primary" type="submit" onclick="save();"><i class="fa fa-plus"> </i>{{ 'action.save.submit'|trans({}, 'global') }}</button>
        </div>
        <hr>
        {{ form_widget(form) }}

        {% block grafic_editor %}
            {% include 'AppBundle:networkconfig:config_editor.html.twig' %}
        {% endblock %}
    {{ form_end(form) }}






{% endblock %}

{% block body_events %} onload="init()" {% endblock %}

{% block javascripts %}

    {{ parent() }}
    {% include 'AppBundle:networkconfig:config_editor.js.html.twig' with { 'networkFunctions' : networkFunctions, 'networkFunctionRoles' : networkFunctionRoles }  %}

{% endblock %}