{% extends "base.html.twig" %}

{% block title %}{{ 'form.networkconfig.title'|trans({}, 'networkconfig') }} - {{ parent() }}{% endblock %}

{% block body %}

    <h1>{{ 'form.networkconfig.new.title'|trans({}, 'networkconfig') }}</h1>

    {{ form_start(form, {action: path('networkconfig_new')}) }}
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-primary" type="submit">{{ 'action.new.submit'|trans({}, 'global') }}</button>
        </p>
    {{ form_end(form) }}

            <div class="btn-group record_actions">
                <a class="btn btn-info" href="{{ path('networkconfig') }}">
                <i class="fa fa-list"></i> {{ 'action.back_to_list'|trans({}, 'global') }}
            </a>
    

    </div>


{% endblock %}
