{% extends "base.html.twig" %}

{% block title %}{{ 'form.networkconfig_send.title'|trans({}, 'networkconfig') }} - {{ parent() }}{% endblock %}


{% block body %}
    <h1>{{ 'form.networkconfig_send.show.title'|trans({}, 'networkconfig') }}</h1>

    {{ form_start(send_form, {action: path('nconfig_post', {id: networkconfig.id})} ) }}

        <div class="btn-group record_actions">

            <a class="btn btn-info" href="{{ path('nconfig') }}">
                <i class="fa fa-list"></i> {{ 'action.goToDescriptor'|trans({}, 'global') }}
            </a>

        </div>
        <hr>
        {{ form_row(send_form.config_name) }}
        <button class="btn btn-danger" type="submit">
            <i class="fa fa-send-o"></i>
            {{ 'action.send'|trans({}, 'global') }}
        </button>
    {{ form_end(send_form) }}

{% endblock %}
