<button  class="btn btn-default btn-sm collapsed" data-toggle="collapse" data-target="#more{{ node.id }}" aria-expanded="false" >
    <i class="fa fa-plus"></i>
</button>
{%  if node.lvl==0 %}
    ({{ 'root.config'|trans({}, 'global') }})
{%  endif %}
<a href="{{ path('networkconfig_show', {id: node.id }) }}">{{  node.networkfunction.name }}</a>

<div class="btn-group">

    <a class="btn btn-default btn-sm" href="{{ path('networkconfig_show', {id: node.id}) }}">
        <i class="fa fa-file-o"></i>
        {{ 'action.show.submit'|trans({}, 'global') }}
    </a>

    <a class="btn btn-default btn-sm" href="{{ path('networkconfig_edit', {id: node.id}) }}">
        <i class="fa fa-edit"></i>
        {{ 'action.edit.submit'|trans({}, 'global') }}
    </a>
    {%  if node.lvl %}
        <a class="btn btn-default btn-sm" href="{{ path('networkconfig_up', {id: node.id}) }}">
            <i class="fa fa-arrow-circle-o-up"></i>
            {{ 'action.up.submit'|trans({}, 'global') }}
        </a>
        <a class="btn btn-default btn-sm" href="{{ path('networkconfig_down', {id: node.id}) }}">
            <i class="fa fa-arrow-circle-o-down"></i>
            {{ 'action.down.submit'|trans({}, 'global') }}
        </a>
    {% endif %}

    {%  if node.lvl==0 %}
        <a class="btn btn-default btn-sm" href="{{ path('networkconfig_yml', {id: node.id}) }}">
            <i class="fa fa-file-o"></i>
            {{ 'action.generate.yml.submit'|trans({}, 'global') }}
        </a>
    {%  endif %}

</div>


{% macro show_attributes(field) %}
    {% spaceless %}
        <td>
            {{ dump(field) }}
        </td>
    {% endspaceless %}
{% endmacro %}
{% from _self import show_attributes %}


    <div id="more{{ node.id }}" class="collapse" aria-expanded="false" style="height: 0px;">
        <table class="table table-responsive table-striped table-hover table-bordered records_list">
            <thead>
            <tr>
                <th scope="col">{{ 'form.networkconfig.field.label.id'|trans({}, 'networkconfig') }}</th>
                <th scope="col">{{ 'form.networkconfig.field.label.networkfunction'|trans({}, 'networkconfig') }}</th>

            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="{{ path('networkconfig_show', {id: node.id}) }}">{{ node.id }}</a>
                    </td>
                    <td>{{ node.networkfunction.name }}</td>
                </tr>
            </tbody>
        </table>
</div>