{% extends 'base.html.twig' %}

{% block body %}
    <style>
        #glyphs {
            border-bottom: 1px solid #ccc;
            padding: 2em 0;
            text-align: center;
        }
        .glyph {
            display: inline-block;
            width: 9em;
            margin: 1em;
            text-align: center;
            vertical-align: top;
            background: #FFF;
        }
        .glyph .glyph-icon {
            padding: 10px;
            display: block;
            font-family:"Flaticon";
            font-size: 64px;
            line-height: 1;
        }
        .glyph .glyph-icon:before {
            font-size: 64px;
            color: #222;
            margin-left: 0;
        }
    </style>


    <div class="section">
            <div class="row">
                <div class="col-md-4" align="center">
                    <div class="glyph">
                        <div class="glyph-icon flaticon-catalog-of-rectangular-pieces-outlines"></div>
                    </div><br>
                    <a class="btn btn-info" href="{{ path('networkfunction') }}">
                        {{ 'action.goToCatalog'|trans({}, 'global') }}
                    </a>
                </div>
                <div class="col-md-4" align="center">
                    <div class="glyph">
                        <div class="glyph-icon glyph-icon flaticon-business-2"></div>
                    </div> <br>
                    <a class="btn btn-info" href="{{ path('nconfig') }}">
                        {{ 'action.goToDescriptor'|trans({}, 'global') }}
                    </a>
                </div>

                <div class="col-md-4" align="center">
                    <div class="glyph">
                        <div class="glyph-icon glyph-icon flaticon-symbols"></div>
                    </div> <br>
                    <a class="btn btn-info" href="{{ path('rsvr') }}">
                        {{ 'action.RemoteSvrs'|trans({}, 'global') }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

