{% extends "base.html.twig" %}

{% block title %}{{ 'form.networkfunctionrole.title'|trans({}, 'networkfunctionrole') }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ 'form.networkfunctionrole.edit.title'|trans({}, 'networkfunctionrole') }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
            <p>
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-edit"></i>
                {{ 'action.edit.submit'|trans({}, 'global') }}
            </button>
        </p>
    
    {{ form_end(edit_form) }}

        <div class="btn-group record_actions">
                <a class="btn btn-info" href="{{ path('networkfunctionrole') }}">
                <i class="fa fa-list"></i> {{ 'action.back_to_list'|trans({}, 'global') }}
            </a>
    
                <a class="btn btn-danger" href="{{ path('networkfunctionrole_delete_confirmation', {id: networkfunctionrole.id}) }}">
                <i class="fa fa-trash-o"></i>
                {{ 'action.delete.submit'|trans({}, 'global') }}
            </a>
    

    </div>

{% endblock %}
