{% extends "base.html.twig" %}

{% block title %}{{ 'form.networkfunctionrole.title'|trans({}, 'networkfunctionrole') }} - {{ parent() }}{% endblock %}

{% block boton_new %}
    <div class="btn-group record_actions">
        <a class="btn btn-info" href="{{ path('networkfunction') }}">
            <i class=""></i> {{ 'action.goToCatalog'|trans({}, 'global') }}
        </a>
        <a class="btn btn-success" href="{{ path('networkfunctionrole_new') }}">
            <i class="fa fa-plus"></i> {{ 'action.new.submit'|trans({}, 'global') }}
        </a>
    </div>
{% endblock %}

{% block body %}
    <h1>{{ 'form.networkfunctionrole.index.title'|trans({}, 'networkfunctionrole') }}</h1>        {{ block ('boton_new') }}
    
    <table class="table table-responsive table-striped table-hover table-bordered records_list">
        <thead>
            <tr>
                {#<th scope="col">{{ 'form.networkfunctionrole.field.label.id'|trans({}, 'networkfunctionrole') }}</th>#}
                <th scope="col">{{ 'action.title'|trans({}, 'global') }}</th>
                <th scope="col">{{ 'form.networkfunctionrole.field.label.name'|trans({}, 'networkfunctionrole') }}</th>
                <th scope="col">{{ 'form.networkfunctionrole.field.label.color'|trans({}, 'networkfunctionrole') }}</th>
                <th scope="col">{{ 'form.networkfunctionrole.field.label.stroke'|trans({}, 'networkfunctionrole') }}</th>
                <th scope="col">{{ 'form.networkfunctionrole.field.label.shape'|trans({}, 'networkfunctionrole') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for networkfunctionrole in entities %}
                <tr>
                    {#<td>#}
                        {#<a href="{{ path('networkfunctionrole_show', {id: networkfunctionrole.id}) }}">{{ networkfunctionrole.id }}</a>#}
                        {#{{ networkfunctionrole.id }}#}
                    {#</td>#}
                    <td>
                        <div class="btn-group">
                            {#<a class="btn btn-default btn-sm" href="{{ path('networkfunctionrole_show', {id: networkfunctionrole.id}) }}">#}
                            {#<i class="fa fa-file-o"></i>#}
                            {#{{ 'action.show.submit'|trans({}, 'global') }}#}
                            {#</a>#}
                            <a class="btn btn-warning btn-sm" href="{{ path('networkfunctionrole_edit', {id: networkfunctionrole.id}) }}">
                                <i class="fa fa-2x fa-edit"></i>
                                {{ 'action.edit.submit'|trans({}, 'global') }}
                            </a>
                        </div>
                    </td>
                    <td>{{ networkfunctionrole.name }}</td>
                    <td>{{ networkfunctionrole.color }}</td>
                    <td>{{ networkfunctionrole.stroke }}</td>
                    <td>{{ networkfunctionrole.shape }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

            {{ block ('boton_new') }}
    
{% endblock %}

