{{ '{% extends "' ~ layout ~ '" %}' }}
{% if theme %}

{{ "{% form_theme form '"~ theme ~"' %}" }}
{% endif %}

{{ "{% block title %}{{ 'form."~entity|lower~".title'|trans({}, '"~entity|lower~"') }} - {{ parent() }}{% endblock %}" }}

{{ '{% block ' ~ bodyBlock ~ ' %}' }}

    <h1>{{ "{{ 'form."~entity|lower~".new.title'|trans({}, '"~entity|lower~"') }}" }}</h1>

    {{ "{{ form_start(form, {action: path('"~ route_name_prefix ~"_new')}) }}" }}
        {{ "{{ form_widget(form) }}" }}
        <p>
            <button class="btn btn-primary" type="submit">{{ "{{ 'action.new.submit'|trans({}, 'global') }}" }}</button>
        </p>
    {{ "{{ form_end(form) }}" }}

    {% set hide_edit, hide_delete = true, true %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}

{{ '{% endblock %}' }}
