<button type="button" class="btn btn-default filter" data-toggle="collapse" data-target="#filter">
    {{ 'filter.show_hide_btn'|trans({}, 'global') }}
    <i class="fa fa-angle-{{ app.session.get('filter.networkfunction') ? 'right' : 'down' }}"></i>
</button>
<div id="filter" class="collapse {% if app.session.get('filter.networkfunction') %} in{% endif %}">
    <form method="get" action="">
        {{ form_widget(form) }}
        <p class="btn-group">
            <button class="btn btn-primary" type="submit" name="submit-filter"><i class="fa fa-filter"></i>
                {{ 'filter.submit'|trans({}, 'global') }}
            </button>
            <a class="btn btn-default" href="?reset-filter"><i class="fa fa-times"></i>
                {{ 'filter.reset'|trans({}, 'global') }}
            </a>
        </p>
    </form>
</div>
