{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('bundles/app/js/etsoeditor/') }}css/etso-editor.css" type="text/css" media="screen" />

    <script type="text/javascript">
        var mxBasePath = '{{ asset('bundles/app/js/etsoeditor/') }}mxgraph/javascript/src';
    </script>

    <script type="text/javascript" src="{{ asset('bundles/app/js/etsoeditor/') }}mxgraph/javascript/src/js/mxClient.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/etsoeditor/') }}js/app.js"></script>

    <script type="text/javascript">
        {% include 'AppBundle:etsoeditor:onInit.js.twig' %}
    </script>

{% endblock %}

{% block body_events %}
    onload="createEditor('config/diagrameditor.xml');"
{% endblock %}

{% block body %}
    <div  class="row">
        <div id="header" class="col-md-12">

        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div id="mainActions" class="row">
            </div>
            <div id="selectActions" class="row">
            </div>
            <div id="zoomActions" class="row">
            </div>
            <div id="toolbar"  class="row">
                <!-- Toolbar Here -->
            </div>
        </div>

        <div id="graph" class="col-md-5">
            <!-- Graph Here -->
            <center id="splash" style="padding-top:230px;">
                <img src="{{ asset('bundles/app/js/etsoeditor/') }}images/loading.gif">
            </center>
        </div>
        <textarea id="xml" style="height:480px;width:684px;display:none;border-style:none;"></textarea>
        <div id="inspector" class="col-md-3">
        </div>
    </div>
    <div class="row">
        <span style="float:right;padding-right:36px;">
            <input id="source" type="checkbox"/>Source
        </span>
        <div id="footer">
            <p id="status">
                <!-- Status Here -->Loading...
            </p>
            <br/>
        </div>
    </div>

{% endblock %}